.navbar-blue {
  background: #1c479b;
}

.navbar-brand {
  font-size: 1.3rem;
}

.title-block {
  font-family: 'Black Han Sans', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px black;
  white-space: nowrap;
}

.bracket-sign {
  font-weight: bolder;

  &.left {
    color: #C91F37;
  }

  &.right {
    color: #19B5FE;
  }
}

.google-btn {
  width: 93%;
  margin: 24px 15px;
  justify-content: center;
  font-size: 1rem;
}