.loading-container {
  position: relative;
}

.loading-inner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffbf;

  .spinner-border {
    width: 8rem;
    height: 8rem;
  }
}