.table-hover {
  cursor: pointer;
}

.table-fixed {
  table-layout: fixed;
}

.table-dark {
  thead {
    td, th {
      border-color: #828080;
    }
  }
}

.table-centered {
  th, td {
    text-align: center;
  }
}