.table-hover {
  cursor: pointer;
}

.table-fixed {
  table-layout: fixed;
}

.table-dark {
  thead {
    td, th {
      border-color: #828080;
    }
  }
}

.table-centered {
  th, td {
    text-align: center;
  }
}

.table-sticky-header {
  overflow-y: auto;
}

.table-sticky-header  table {
  // border-collapse: collapse;
  width: 100%;
}

.table-sticky-header  th {
  position: sticky;
  top: 0;
  background: #6c757c;
}