@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body, html, #root, .App {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Muli', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./images/bg.jpg');
  background-size: contain;
}

.container {
  min-height: calc(100vh - 304px);
}
